#Folders
x64/*
.vs/*
CompareGMRES/x64/*
HarmonicOscillator/x64/*
NCoupledOscillators/x64/*
NewtonIteration/x64/*
Symplectic/Release/*
Symplectic/x64/*
TestLinearSolvers/x64/*

# Prerequisites
*.d
*.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
